.table {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(167, 167, 167);
  border-collapse: collapse;
  width: 80%;
  margin: 16px auto;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(167, 167, 167);
  border-collapse: collapse;
  position: relative;
}

.row:last-child{
  border-bottom: none;
}

.header {
  font-weight: bold;
  color:rgb(167, 167, 167);
}

.cell {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  gap: 1rem;
}

.cell:last-child{
  display: flex;
  justify-content: flex-end;
}

.title {
  font-weight: bold;
}

.header {
  text-transform: uppercase;
}

.errorLabel {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .table {
    width: 95%;
  }

  .row {
    flex-direction: column;
  }

  .header{
    display: none;
  }

  .cell:last-child{
    position: absolute;
    top: 5%;
    right: 0;
  }

  .cell:first-child{
    margin-right: 20px;
  }
}